version: '3.8'

services:
  web:
    build: .
    restart: always
    networks:
      - app_network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - /var/www/plataforma/static:/app/plataforma/config/static
      - /var/www/plataforma/media:/app/plataforma/config/media
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.prod
      - REDIS_URL=redis://redis:6379/0
    expose:
      - "8000"   # Ya no expones el 8000 hacia afuera
    depends_on:
      - redis

  nginx:
    build: ./nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - web
    volumes:
      - /var/www/plataforma/static:/var/www/plataforma/config/static
    networks:
      - app_network

  redis:
    image: redis:7-alpine
    restart: always
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    networks:
      - app_network

volumes:
  redis_data:

networks:
  app_network:
    driver: bridge
